<!DOCTYPE html>
<html lang="en">
<%= partial "header" %>
<body>
    <%= partial "nav" %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <%= yield %>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <%= partial "footer" %>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
