<!DOCTYPE html>
<html lang="en">
<%= partial "header" %>
<body>
    <%= partial "nav" %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
<div class="col-md-8">
<h3>Let’s do things right. </h3>
<p>Everybody knows that IoT is the next big thing. But has anybody ever tried to build things?
</p>
<p>
When we started working on IoT in 2014 we felt like being shifted back in the dark middle age of software design.
Devices are handcrafted by the high priest of native C who are jealousy covering their secrets.
An uncountable number of so called standards are being used to protect the existing claims.
Security is widely neglected. Quality is a gamble. Agility is a foreign word. At the bottom line
technological advance of at least 20 years Internet seems to be ignored in IoT software development.
</p>
<p>
ThingForward is our approach to improve software development for IoT. We want to build things and services
simpler, faster, better and maintainable. We want to be open and transparent. We want to create direct
value for the professional software developers of IoT. We embrace your contribution.
</p>
<p>
Since we believe that value is often created from the small we decided to define and work on projects
covering specific IoT aspects. You are already looking on our first project which is the <a href="/blog.html">&rarr; ThingForward blog</a>.
We will use it to share our experiences with you. Hopefully, preventing you from some of the mistakes
we have already made. Please feel free to comment our posts or to suggest any improvement.
We know that we are far away from something fancy. Thank you for your engagement.
</p>
<p>
Andreas, Oliver
</p>
</div>
  <%= partial "sidebar" %>
<div class="col-md-8">
  <hr>
  <div class="panel panel-default" id="wufoo-zfzmdxd1tuscc0">
    Fill out my <a href="https://thingforwardio.wufoo.com/forms/zfzmdxd1tuscc0">online form</a>.
  </div>
  <script type="text/javascript">var zfzmdxd1tuscc0;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'thingforwardio',
    'formHash':'zfzmdxd1tuscc0',
    'autoResize':true,
    'height':'437',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { zfzmdxd1tuscc0 = new WufooForm();zfzmdxd1tuscc0.initialize(options);zfzmdxd1tuscc0.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>

</div>



        </div>
        <!-- /.row -->

        <hr>

        <%= partial "footer" %>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
